<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966756164761-o9e99f7o1dpt739u34a0qvd0j2irnpd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966756164761-o9e99f7o1dpt739u34a0qvd0j2irnpd4</string>
	<key>API_KEY</key>
	<string>AIzaSyCC27wmlQJPouZt7E4KOhnoy3RdCeMzQeo</string>
	<key>GCM_SENDER_ID</key>
	<string>966756164761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dannyEsl</string>
	<key>PROJECT_ID</key>
	<string>danny-shopping</string>
	<key>STORAGE_BUCKET</key>
	<string>danny-shopping.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966756164761:ios:dad52d7004a8116881c408</string>
</dict>
</plist>